.header {
  display: grid;
  grid-template-columns: 1fr min-content 1fr;
  align-items: center;
  width: 1100px;
  height: 293px;
  padding: 0 50px;
}

.header__menu {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  color: #000000;
}

.header__links-list {
  display: flex;
  gap: 30px;
  list-style: none;
}

.header__links-list-item {
  list-style: circle;
}

.header__links-list-item_no-bullit {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  color: #000000;
}

.header__link {
  text-underline-offset: 4px;
}

.header__link_active {
  text-decoration: none;
}

.header__logo {
  display: block;
  width: 148px;
  height: 105px;
}

.header__logo-image {
  width: 100%;
  height: 100%;
}

.address {
  max-width: 240px;
  justify-self: end;
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 24px;
  text-underline-offset: 4px;
}

.header__address {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0 30px 0 0;
}

main {
  width: 1100px;
    display: flex;
  flex-direction: column;
  align-items: center;

}

.cover {
  position: relative;
  width: 1100px;
  min-height: 757px;
  background-image: url('../images/cover.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: repeat-y;
  display: flow-root;
}

.overlay {
  position: absolute;
  z-index: 1;
  background-color: rgba(0, 0, 0, 0.6);
  width: 100%;
  height: 100%;
  inset: 0;
}

.cover__title {
  position: relative; 
  z-index: 2;
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 700;
  font-size: 100px;
  color: #FFFFFF;
  text-transform: uppercase;
  width: 1000px;
  height: 385px;
  padding: 165px 50px 207px;
  display: flex;
  flex-direction: column;
  gap: 34px;
  letter-spacing: 0.3em;
}

.cover__title_left {
  align-self: flex-start;
}

.cover__title_center {
  align-self: center;
  transform: translateX(66px) translateY(-16px);
}

.cover__title_right {
  align-self: flex-end;
  transform: translateX(130px) translateY(-32px);
}

.cover__description {
  position: relative;
  z-index: 2;
  display: flex;
  justify-content: space-between;
  margin-left: 50px;
  margin-right: 50px;
  top: 270px;
}

.cover__description-text {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 400;
  font-size: 22px;
  text-transform: uppercase;
  color: #FFFFFF;
  word-spacing: 20px;
  display: flex;
  align-items: center
}

.cover__description-text span {
  word-spacing: 18px;
  margin-left: 24px;
}

.cover__description-text span:first-child {
  word-spacing: 18px;
  margin-left: 25px;
}

.bet-button {
  background: transparent;
  border: 1px solid #fff;
  padding: 12px 31px 12px 30px;
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 500;
  font-size: 22px;
  line-height: 26px;
  text-align: center;
  text-transform: uppercase;
  color: #FFFFFF;
  cursor: pointer;
}

.lots {
  width: 1100px;
  min-height: 723px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.lots__heading {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  text-transform: uppercase;
  color: #000000;
  margin: 180px 915px 27px 64px;
}

.lots__card-list {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  gap: 25px;
  flex-wrap: wrap;
}

.lots__card-list-item {
  width: 334px;
  min-height: 596px;
}

.card {
  position: relative;
  height: 100%;
  padding: 48px 40px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-size: cover;
  background-position: center;
}

.card__link {
  position: absolute;
  inset: 0;
  z-index: 3;
  text-decoration: none;
}

.card_type_film {
  background-image: url('../images/card-lot-01.jpg');
}

.card_type_book {
  background-image: url('../images/card-lot-02.jpg');
}

.card_type_picture {
  background-image: url('../images/card-lot-03.jpg');
}

.card__title {
  position: relative;
  z-index: 2;
  height: 100%;
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 700;
  font-size: 22px;
  text-decoration-line: underline;
  text-transform: uppercase;
  color: #FFFFFF;
  cursor: pointer;
}

.card__text {
  position: relative;
  z-index: 2;
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  color: #FFFFFF;
}

.lots__look-more-link {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 23px;
  color: #000000;
  margin-top: 30px;
  margin-bottom: 156px;
  text-underline-offset: 4px;
  margin-right: 780px; 
}

.about {
  display: grid;
  grid-template-columns: 334px 1fr;
  width: 1052px;
  column-gap: 25px;
  align-items: start;
}

.about__logo {
  width: 240px;
  height: 240px;
  border-radius: 50%;
  background: #000;
  display: grid;
  place-items: center;
  justify-self: center;
  align-self: start;
  grid-column: 1;
  grid-row: 1 / span 2;
}

.about__logo-image {
  width: 62%;
  height: 62%;
}

.about__column {
  display: flex;
  flex-direction: column;
  gap: 100px;
  grid-template-rows: 240px auto;
  row-gap: 30px;
}

.about__title {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  text-transform: uppercase;
  color: #000000;
  margin: 100px 0 70px;
}

.about__text {
  display: flex;
  flex-direction: column;
  gap: 24px;
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  color: #000000;
  margin-right: 10px;
}

.footer {
  display: grid;
  grid-template-columns: 1fr auto 1fr;
  align-items: start;
  width: 1100px;
  margin: 0 auto;
  padding: 180px 0 82px 50px;
}

.address__text {
  justify-self: start;
  text-align: left;
}

.footer__menu {
  justify-self: center;
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  color: #000000;
  padding-right: 54px;

}

.footer__menu-list {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 4px;
}

.footer__menu-link {
  text-decoration: underline;
}

.footer__menu-link_active {
  text-decoration: none;
}

.footer__social-list {
  list-style: none;
  width: 240px;
  padding: 0;
  margin-left: 130px;
  display: flex;
  gap: 12px;
  justify-content: space-between;
}

.footer__social-icon {
  width: 48px;
  height: 48px;
  display: block;
}